@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
    list-style-type: none;
}

body,html{
    width: 100%;
    height: 100%;
    background-color: rgb(237, 235,235);
}


.main_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    padding: 0px 40px 0px 20px;
    margin-top: 0px;
    height: 110px;
    background-color: #151515;
    color: white;
    box-shadow: 3px 0px 3px 0px black;
}

.title_header{
    font-size: 1.7em;
}

.div_main_itens{
   margin-left: auto;
}

.main_itens{
    display: flex;
    gap: 20px;
}
.nav-item a{
    transition: color 0.3s;
    font-size: 1.2em;
    color: white;
}

.nav-item a:hover{
    color: #D21428;
}

#menu_hamburguer{
    display: none;
}

#mobile-menu{
    display: none;
}

/* Media Query header*/
@media(max-width: 1170px){
    .div_main_itens{
        display: none;
    }

    #menu_hamburguer{
        display: block;
        border: none;
        font-size: 1.5em;
        cursor: pointer;
    }

    .title_header{
        font-size: 1.5em;

    }

    #mobile-menu.active{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #mobile-nav-list{
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
        text-align: center;
        font-size: 1.3em;
    }

    .nav-item a {
        color: black;
        transition: 0.3s;
    }
    .nav-item a:hover{
        color: #D21428;
    }
}

/* Parte da descriçao */

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px; 
  }

  .whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    background-color: #25d366;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  .whatsapp-button:hover{
    transform: scale(1.05); 
  }

.div_desc{
  width: 30%;
  margin: 0px 0px 0px 5%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.div_desc h1{
    padding: 10px;
    font-size: 1.7em;
}
.p_desc{
  font-size: 1.5em;
  font-weight: lighter;
  margin-bottom: 30px;
  margin-top: 20px;
  padding: 10px;
}
.p_mais{
  font-size: 1.5em;
  font-weight: lighter;
  padding: 10px;
}

.button_mais{
  border: none;
  background-color: #D21428;
  width: 120px;
  height: 50px;
  border-radius: 10px;
  transition: background-color 0.3s;
  margin-top: 20px;
  margin-left:10px;
}
.button_mais a{
  color: white;
}
.button_mais:hover{
  background-color: black;
}

.main_img{
    width: 60%;
    display: flex;
    justify-content: end;
    align-items: start;
    margin-bottom: 20%;
    margin-right: 5%;
}

/*Responsividade da descrição*/
@media (max-width: 768px) {
    .div_desc{
        width: 100%;
    }
    .main_img{
        display: none;
    }
    .button_mais{
      width: 120px;
      height: 60px;
      margin-top: 0px;
    }
}

@media (min-width:770px) and (max-width:1100px) {
    .div_desc{
        width: 100%;
    }

    .main_img{
        display: none;
    }
}

/*Estilos da section professores*/

.parallax {
    background-image: url('Imagens/parallax.jpg'); 
    height: auto;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    border-radius: 20px ;
}

.nossos_prof{
    margin: 20px 0px 30px 80px;
    font-weight: 500;
    text-align: center;
}

.prof_section_margin{
    display: flex;
    width: 100%;
}

.section_main{
    transition: all 0.8s ease-in-out;
    transform: translateY(100px);
    opacity: 0;
}

.section_main.visivel {
    transform: translateY(0);
    opacity: 1;
}

.section_main.saindo {
    transform: translateY(50px);
    opacity: 0;
}

.prof_section{
    display: flex;
    width: 100%;
    margin-top: 50px;
}
.div_img_prof{
    margin-left: 80px;
}

.img_prof{
    height: 410px;
    width: 400px;
    border-radius: 20px 0px 0px 20px;
    transition: transform 0.2s ease;
}
.img_prof:hover{
    transform: scale(1.05); 
}

.desc_prof{
    width: 900px;
    background-color: #151515cb;
    color: white;
    border-radius: 0px 20px 20px 0px;
    height: 410px;
    line-height: 40px;
}

.p_prof{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
    font-weight: 500;
    padding: 30px;
}
.button_prof{
    border: none;
    background-color: #D21428;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    margin-left: 40px;
    transition: background-color 0.3s;
}

.button_prof a{
    color: white;
  }
.button_prof:hover{
    background-color: black;
  }

/* Responsividade professores*/

@media (max-width: 768px){
    .nossos_prof{
        font-size: 1.5em;
        font-weight: lighter;
        margin-left: 20px;
        margin-bottom: 10px;
        margin-top: 40px;
    }
    .prof_section_margin{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .prof_section{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 50px;
    }
    .div_img_prof{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: auto;
        margin-bottom: -9px;
    }
    .img_prof{
       width: 90%;
       max-width: 400px;
       height: auto;
       border-radius: 10px 10px 0px 0px;
    }
    .desc_prof{
        width: 90%;
        max-width: 400px;
        height: auto;
        text-align: center;
        border-radius: 0px 0px 10px 10px;
    }
    .button_prof{
        margin-left: 0px;
        margin-bottom: 50px;
    }
}

@media (min-width:770px) and (max-width:1100px) {
    .nossos_prof{
        margin-left: 60px;
        font-size: 1.6em;
        font-weight: lighter;
        margin-bottom: 10px;
        margin-top: 40px;
    }
    .prof_section_margin{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .prof_section{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 50px;
    }
    .div_img_prof{
        margin-left: 50px;
        width: 90%;
        margin-bottom: -9px;
    }
    .img_prof{
       width: 700px;
       border-radius: 0px;
       height: 550px;
    }
    .desc_prof{
        width: 700px;
        height: 350px;
        border-radius: 0px;
        margin-left: 50px;
    }
}

/*Estilos do feedbacks*/
#testimonials{
    min-height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    margin-top: 100px;
}


#testimonials_chef{
    width: 500px;
    height:600px ;
    margin-left: 5%;
    border-radius: 20px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.953);
    transition: transform 0.2s ease;
}
#testimonials_chef:hover{
    transform: scale(1.05); 
}
#testimonials_content{
    width: 50%;
}
#testimonials_content .section-title{
    display: flex;
    align-items: center;
    justify-content: center;
}
#testimonials_content .section-subtitle{
 font-size: 1.8em;
 font-weight: 400;
 color: #333; 
}
#feedbacks{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
    margin-top: 30px;
}
.feedback{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: white;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.1);
}
.feedback-avatar{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
}
.feedback_content p{
    display: flex;
    justify-content: space-between;
}
.feedback_content i{
    color: #e9a209;
}



@media(max-width: 1170px){
    #testimonials{
        flex-direction: column;
    }

    #testimonials_chef{
        display: none;
    }

    #testimonials_content{
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      
    }
    #testimonials_content .section-subtitle{
        text-align: center;
    }
}

@media(max-width: 600px){
    #testimonials_content .section-subtitle{
        font-size: 1.5em;
    }
    #testimonials_content{
        width: 100%;
    }
    .feedback{
        flex-direction: column;
    }
}

/*Estilos do sistema de contato*/

.form_contato{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    width: 600px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form_contato label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
    align-self: flex-start;
}


.form_contato input,
.form_contato textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}


.form_contato button {
    padding: 12px 20px;
    background-color: #D21428;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form_contato button:hover {
    background-color: #B21325;
}


.form_contato input:focus,
.form_contato textarea:focus {
    outline: none;
    border-color: #D21428;
}


/*EStilos do footer*/
.main_footer {
    background-color: #1a1a1ad3;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 110px;
}

/* Seção da localização */
.section_footer_loc {
    width: 100%;
    max-width: 800px;
}

.footer_left {
    margin-bottom: 20px;
}

.footer_left h1 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    text-decoration: underline;
    text-decoration-color: #D21428;
}

.footer_left p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.section_footer_loc iframe {
    width: 100%;
    border-radius: 8px;
    border: 2px solid #333;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.section_footer_loc iframe:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.section_fim {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer_right h3 {
    font-size: 1.4rem;
}

.footer_right a {
    color: white;
    font-size: 28px; 
    margin: 0 10px;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    display: inline-block;
}

.footer_right a:hover {
    transform: scale(1.2);
    color: #f39c12;
}