@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
    list-style-type: none;
}

body,html{
    width: 100%;
    height: 100%;
    background-color: rgb(237, 235,235);
}


.main_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 100px 0px ;
    padding: 20px 40px 0px 20px;
    height: 110px;
    background-color: #151515;
    color: white;
    box-shadow: 3px 0px 3px 0px black;
}

.title_header{
    font-size: 1.7em;
}

.div_main_itens{
   margin-left: auto;
}

.main_itens{
    display: flex;
    gap: 20px;
}
.nav-item a{
    transition: color 0.3s;
    font-size: 1.2em;
    color: white;
}

.nav-item a:hover{
    color: #D21428;
}

#menu_hamburguer{
    display: none;
}

#mobile-menu{
    display: none;
}

/* Media Query header*/
@media(max-width: 1170px){
    .div_main_itens{
        display: none;
    }

    #menu_hamburguer{
        display: block;
        border: none;
        font-size: 1.5em;
        cursor: pointer;
    }

    .title_header{
        font-size: 1.5em;

    }

    #mobile-menu.active{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #mobile-nav-list{
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
        text-align: center;
        font-size: 1.3em;
    }

    .nav-item a {
        color: black;
        transition: 0.3s;
    }
    .nav-item a:hover{
        color: #D21428;
    }
}

/* Parte da descriçao */

.div_desc{
  height: 100%;
  width: 50%;
  margin: 0px 0px 0px 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.p_desc{
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 30px;
  margin-top: 20px;
}
.p_mais{
  font-size: 1.5em;
  font-weight: 500;
}

.button_mais{
  border: none;
  background-color: #D21428;
  width: 120px;
<<<<<<< HEAD
  height: 60px;
  font-size: 1.1em;
=======
  height: 50px;
>>>>>>> eeb5e3b45404ec0386557e9f37bd4e3d12e29ca9
  border-radius: 10px;
  transition: background-color 0.3s;
}
.button_mais a{
  color: white;
}
.button_mais:hover{
  background-color: black;
}
